@{
    ViewBag.Title = "SignUp";
}
<div class="w3-content w3-animate-bottom">
    <div class="w3-margin w3-card">
        <div class="w3-container w3-card w3-green w3-round-large">
            <h3 class="w3-padding-large">Đăng ký</h3>
        </div>

		<form action="/Account/Signup" method="post" class="w3-container w3-card-4 w3-light-grey w3-text-light-green w3-round-large">

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="name" type="text" placeholder="Tên" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-birthday-cake"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="birthDay" type="date" placeholder="Ngày sinh" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-intersex"></i></div>
				<div class="w3-rest">
					<p>
						<input class="w3-radio" type="radio" name="gender" value="male" checked>
						<label>Nam</label>

						<input class="w3-radio" type="radio" name="gender" value="female">
						<label>Nữ</label>
					</p>
					<p>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-location-arrow"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="address" type="text" placeholder="Địa chỉ" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="email" type="text" placeholder="Email" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="phone" type="text" placeholder="Số điện thoại" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-plus"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="username" type="text" placeholder="Username" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="password" type="password" placeholder="Mật khẩu" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
				<div class="w3-rest">
					<input class="w3-input w3-border" name="re_password" type="password" placeholder="Nhập lại mật khẩu" required>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
				<div class="w3-rest">
					<select class="w3-select w3-border" id="userType" name="userType">
						<option class="w3-text-grey" value="customer">Khách hàng</option>
						<option class="w3-text-grey" value="supplier">Nhà cung cấp</option>
					</select>
				</div>
			</div>

			<p>
				<button type="submit" class="w3-btn w3-border w3-hover-yellow w3-padding w3-green w3-round-large" style="width:120px">Đăng ký</button>
				<a href="@Url.Action("Index", "Home")">
					<input type="button" class="w3-btn w3-border w3-light-grey w3-round-large" style="width:120px" value="Hủy">
				</a>
			</p>

		</form>
    </div>

</div>
