@using System.Activities.Expressions
@model IEnumerable<Ttcn_web.Models.ARFurnitureType>

@{
    ViewBag.Title = "Filter";
}

@*<h2>@ViewBag.furnitureTypeGroupName</h2>*@

<div class="w3-light-green" style="width: 100%">
    <div class="w3-content" style="max-width:80%">
        <br />
        <div class="w3-row-padding" style="margin:0 -16px">
            @{
            foreach (var item in Model)
            {
                <div class="w3-third w3-margin-bottom w3-center">
                    <div class="w3-display-container w3-opacity-min w3-hover-opacity-off" style="transition:1s">
                        <img class="w3-round" src="@item.ARFurnitureTypeImageUrl" alt="Pants" style="width:100%">

                        <div class="w3-display-middle w3-display-hover w3-large">
                            <a href="@Url.Action("Filter", "FurnitureType", new
                                         {
                                             id = item.ARFurnitureTypeID
                                         })" class="w3-green w3-animate-opacity w3-btn w3-round">@item.ARFurnitureTypeName</a>
                                    </div>
                                </div>
                            </div>
                    }
            }

        </div>
    </div>
</div>

