@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/img/intro.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">NỘI THẤT VIỆT</span>
                        <span class="section-heading-lower">Nội thất của người Việt</span>
                    </h2>
                    <p class="mb-3">Chúng tôi tự hào mang lại cho khách hàng chất lượng tuyệt hảo nhất.
                    </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Top 3</span>
                            <span class="section-heading-lower">Doanh nghiệp nội thất hàng đầu Việt Nam</span>
                        </h2>
                        <p class="mb-0">Hãy đến ngay cửa hàng gần nhất để trải nghiệp chất lượng sản phẩm!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
