@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w3-content w3-margin-top-128 w3-animate-bottom" style="width: 98%">

    <h2>Xu hướng màu sắc và Phong cách thiết kế nội thất 2019</h2>
    <p>Để có thể thiết kế được ngôi nhà có nội thất đẹp thì điều quan trọng cần được lưu ý chính là có màu sắc phù hợp với tổng thể ngôi nhà và phù hợp với sở thích của chính gia chủ. Vì thế để có thể thiết kế nội thất đúng chuẩn và đúng theo nhu cầu của gia chủ thì kiến trúc sư phải năm bắt được xu hướng màu sắc nội thất mới nhất để tạo nên một ngôi nhà sang trọng và đạt thẩm mỹ cao.</p>
    <p>Theo các chuyên gia, có một số màu sắc hiện nay đang ưa chuộng trong thiết kế nội thất vẫn sẽ tiếp tục được nhiều người mê mẩn trong năm 2019. <strong>Nội thất Việt</strong> xin chia sẻ với các bạn những màu sắc hiện nay đang được nhiều người yêu thích khi thiết kế nội thất cho căn nhà của mình thêm nổi bật và đặc sắc:</p>
    <p><strong>Màu đỏ tươi:</strong> Còn được gọi là AF-290, màu đỏ tươi caliente là một màu nóng, đem lại cảm giác ấm áp, tự tin hơn hẳn. Đây là màu sắc đem lại niềm vui, đam mê, khiến chúng ta cảm thấy đặc biệt giống như đang bước trên thảm đỏ.</p>
    <img src="https://images.pexels.com/photos/730586/pexels-photo-730586.jpeg?auto=compress&amp;cs=tinysrgb&amp;" alt="" class="w3-image">
    <br />
    <p>
        <strong>Màu Oceanside:</strong> Đây là sắc màu hai mặt, gợi nhớ một miền quê xinh xắn, thoải mái, có thể lướt sóng ra biển ngay trước mặt. Màu sắc này thực sự gợi lên cảm giác bạn đang được nghỉ ngơi ở nơi này, truyền cảm hứng lang thang ở một nơi thực sự thôn dã.
    </p>
    <img src="https://images.pexels.com/photos/1282315/pexels-photo-1282315.jpeg?auto=compress&amp;cs=tinysrgb&amp;" alt="" class="w3-image">
    <p>
        <strong>Màu đen:</strong> Màu đen chưa bao giờ trở nên lỗi mốt trong thiết kế nội thất. Nhưng trong năm nay, màu đen đem lại cảm giác thân mật chứ không gợi ra không gian của những suy nghĩ mênh mông, bí ẩn, về quá khứ…
    </p>
    <p>

        Nói thêm về vấn đề này, kiến trúc sư lưu ý thêm: "Trong những năm vừa qua, người tiêu dùng đã chú ý đến những khoảng trống thoáng đãng, thoáng mát được cho là nơi ngơi nghỉ tâm hồn. Tuy nhiên, trong hiện tại, người tiêu dùng thường cảm thấy không thoải mái, bồn chồn, sự riêng tư của họ đang bị xâm chiếm. Vì vậy, họ thèm sự an ủi từ màu sắc cung cấp, để thoát khỏi sự hỗn loạn của cuộc sống hàng ngày".
    </p>
    <img src="https://images.pexels.com/photos/271739/pexels-photo-271739.jpeg?auto=compress&amp;cs=tinysrgb&amp;" alt="" class="w3-image">
    <p>

        <strong>Màu nâu Autumn Maple</strong>: Đây là sắc màu thật nhất của mùa thu. Sắc màu cam cháy hấp dẫn này khiến nó được ưa chuộng tất cả mọi thời điểm trong năm chứ không chỉ riêng gì vào mùa thu. Đồ nội thất có sắc màu này sẽ khiến bạn cảm thấy thoải mái, muốn tận hưởng một cái gì đó giống như một chiều hoàng hôn ngọt ngào vậy.
    </p>
    <img src="https://images.pexels.com/photos/1029138/pexels-photo-1029138.jpeg?auto=compress&amp;cs=tinysrgb&amp;" alt="" class="w3-image">
    <p>

        Năm 2019, mọi người trưng bày cách tiếp cận tận tâm hơn để trang trí nội thất. Ý tưởng chung là tốt hơn nên mua một lần hơn là chuộng sự đơn giản và thay thế nhanh chóng. Xu hướng này đã chuyển sang mua sản phẩm chất lượng và nguyên liệu tự nhiên vào năm 2019. Ngoài ra, trong năm mới này, thiết kế nội thất sẽ tập trung vào những cái mới hơn:
    </p>
    <p>
        <ul>
            <li>
                Cây cối và thực vật là điều mới mẻ. Những loài thực vật nhỏ, độc nhất và kỳ lạ sẽ thống trị cảnh quan.</li>
            <li>
                Đồ nội thất có xu hướng kết nối thiên nhiên.</li>
            <li>
                Gỗ, đá cẩm thạch là chất liệu được sử dụng rộng rãi mà vẫn giữ nguyên nét thanh lịch, sang trọng. Gỗ sẽ là vật liệu chính được sử dụng để trang trí. Một thiết kế nội thất bằng gỗ được đánh bóng siêu mịn sẽ là vật liệu bao quanh được sử dụng để kết nối mọi thứ với nhau.</li>
            <li>
                Ghế sofa bằng nhung và ghế bành sẽ có mặt ở mọi nơi.</li>
            <li>
                Viền sẽ ngày càng xuất hiện trên tất cả mọi thứ từ gối đến chăn để đồ nội thất nhỏ, ngay cả rèm cửa.</li>
        </ul>
    </p>
    <img src="https://images.pexels.com/photos/212937/pexels-photo-212937.jpeg?auto=compress&amp;cs=tinysrgb&amp;" alt="" class="w3-image">

</div>
