@model Ttcn_web.Models.ICProduct

@{
    ViewBag.Title = "Details";
}

<div class="w3-light-green" style="width: 100%; padding-top: 0px">
    <div class="w3-content" , style="max-width: 80%">
        <br />
        <div class="w3-row-padding" style="margin:0 0">
            <div class="w3-half w3-margin-bottom w3-center">
                <img class="w3-round" src="@Model.ICProductPictureLink" alt="Pants" style="width:90%">
            </div>
            <div class="w3-half w3-display-container" style="height: 400px">
                <h2>@Model.ICProductName</h2>
                <h4>@Model.ICProductPrice</h4>
                
                    <button class="w3-yellow w3-round-large w3-display-bottomleft w3-padding-large" style="width: 48%">Mua ngay</button>
                    <button class="w3-yellow w3-round-large w3-display-bottomright w3-padding-large" style="width: 48%">Thêm vào giỏ hàng</button>
            </div>
        </div>
        
        <div class="">

            <button onclick="myFunction('Detail')" class="w3-button w3-block w3-left-align w3-green w3-round-large">
                Chi tiết sản phẩm</button>

            <div id="Detail" class="w3-hide w3-container">
                <p>Lorem ipsum...</p>
            </div>

            <button onclick="myFunction('Description')" class="w3-button w3-block w3-left-align w3-green w3-round-large">
                Mô tả sản phẩm</button>

            <div id="Description" class="w3-hide w3-container">
                <p>Lorem ipsum...</p>
            </div>

            <button onclick="myFunction('Review')" class="w3-button w3-block w3-left-align w3-green w3-round-large">
                Đánh giá sản phẩm</button>

            <div id="Review" class="w3-hide w3-container">
                <p>Lorem ipsum...</p>
            </div>
        </div>
        <script>
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else { 
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>
    </div>
</div>
