@model Ttcn_web.Models.ARFurnitureType

@{
    ViewBag.Title = "Create";
}

<div class="w3-content w3-animate-bottom">

    <div class="w3-margin w3-card">
        <div class="w3-container w3-card w3-blue w3-round-large">
            <h3 class="w3-padding-large">Tạo mới tài khoản</h3>
        </div>

        <form action="/FurnitureType/Create" method="post" class="w3-container w3-card-4 w3-light-grey w3-text-light-blue w3-round-large">

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-plus"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="name" type="text" placeholder="Tên" required>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="no" type="text" placeholder="No" required>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user-secret"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="desc" type="text" placeholder="Mô tả" required>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-group"></i></div>
                <div class="w3-rest">
                    <select class="w3-select w3-border" id="selectedItemFurnitureType" name="group">
                        <option class="w3-text-grey" value="1">Phòng khách</option>
                        <option class="w3-text-grey" value="2">Phòng ăn</option>
                        <option class="w3-text-grey" value="3">Phòng ngủ</option>
                        <option class="w3-text-grey" value="4">Phòng làm việc</option>
                        <option class="w3-text-grey" value="5">Tủ bếp</option>
                        <option class="w3-text-grey" value="6">Hàng trang trí</option>
                        <option class="w3-text-grey" value="7">Ngoại thất</option>
                        <option class="w3-text-grey" value="8">Thiết kế nội thất</option>
                    </select>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width: 50px"><i class="w3-xxlarge fa fa-image"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" style="width: 85%; float: left;" name="url" type="text" id="Picture" readonly required>
                    <button class="w3-btn w3-border" style="width: 10%; float: right;" id="Browse">...</button>
                    <script>
                            $("#Browse").click(function () {
                                var finder = new CKFinder();
                                finder.selectActionFunction = function (fileUrl) {
                                    $("#Picture").val(fileUrl);
                                };
                                finder.popup();
                            });
                    </script>
                </div>
            </div>

            <p>
                <button type="submit" class="w3-btn w3-border w3-hover-yellow w3-padding w3-blue w3-round-large" style="width:120px">Sửa</button>
                <a href="@Url.Action("Index", "FurnitureType")">
                    <input type="button" class="w3-btn w3-border w3-light-grey w3-round-large" style="width:120px" value="Hủy">
                </a>
            </p>

        </form>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
