@using System.Activities.Expressions
@model IEnumerable<Ttcn_web.Models.ICProduct>

@{
    ViewBag.Title = "Filter";
}

@{
    foreach (var item in Model)
    {
        <div class="rounded" style="border-radius: 15px 50px 30px 5px; border: 5px solid #73AD21; background: azure;">
            <div class="rounded">
                <div class="" style="display: inline-block">
                    <a title="@Html.DisplayFor(modelItem => item.ICProductName)" href="@Url.Action("Details","Product", new { id = item.ICProductID})" class="">
                        <!--chèn link danh sách sản phẩm, filter ra sofa-->
                        <img src="https://cdn.shopify.com/s/files/1/2148/5399/products/norman-b-6552-p.png?v=1526050043" alt="Phối cảnh" style="width:250px;height:250px;" class="rounded">
                    </a>
                </div>
                <h5 style=" display: inline-block; margin-top: 10px">
                    <a href="">
                        <!--chèn link danh sách sản phẩm, filter ra sofa-->
                        @Html.DisplayFor(modelItem => item.ICProductName)
                    </a>
                </h5>
                <p style="display: inline-block">
                    @Html.DisplayFor(modelItem => item.ICProductDesc)
                </p>
            </div>
        </div>
        <br />
    }
}

